page-login,
page-daftar{
   .form{
      margin-top: 100px;
   }

   ion-input{
      border: 1px solid #ccc;
      margin-top: 10px;
      border-radius: 3px;
   }

   .button-md{
      margin-top: 15px;
   }
}